<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.filipebezerra.bible.verseoftheday">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".VerseOfTheApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${applicationLabel}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.VerseOfTheDay"
        >
        <activity
            android:name=".MainActivity"
            android:label="${applicationLabel}"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>